body {
	font-family: 'Raleway';
	color: #055e8e;
}

.navbar {
	background: #055e8e;
}

#title-block {
	background-image: url("../images/dice.jpg")
/*	background-color: #d4dadd;*/
}

.jumbotron {
	text-align: center;
	/*background-color: #d3e4ed;*/
	background-color: #d4dadd;
}

.game-system-frame {
	padding: 0px;
}

.game-system {
	text-align: center;
	border:	solid 1px #055e8e;
	margin: 10px;
	padding: 10px;
	height: 150px;
}

.btn {
	background-color: #055e8e;
	border-color: #055e8e;
}